# Dummy env file
# Replace all the replace with the right things

# Wordpress vars
WEB_ROOT=webroot
WP_DIR=wp

# Data base things
DB_NAME=replace
DB_USER=replace
DB_PASSWORD=replace
DB_HOST=replace
DB_PREFIX=replace

WP_ENV=development
WP_HOME=http://example.com
WP_SITEURL=${WP_HOME}/wp

# Multi site variables
WP_MULTISITE=false
WP_MULTISITE_SUBDOMAIN_INSTALL=false
WP_MULTISITE_DOMAIN_CURRENT_SITE=www.example.com
WP_MULTISITE_PATH_CURRENT_SITE=/
GW_DISABLE_WP_AUTO_UPDATE=true

# Create your salts here! These should be the same on all enviroments!
# WARNING: If the salts are there never change! Breaks things..
# use this, it's easier https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# Advanced custom fields key
ACF_PRO_KEY=b3JkZXJfaWQ9ODY0Mzh8dHlwZT1kZXZlbG9wZXJ8ZGF0ZT0yMDE2LTA3LTI3IDA4OjIzOjE1
