//	==============================
//	Text mixins
//	==============================

//	Text overflow on (inline-)block elements
%text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

//	Hyphenation
@mixin hyphens($mode: auto) {
	word-wrap: break-all;
	-webkit-hyphens: $mode;
	-moz-hyphens: $mode;
	-ms-hyphens: $mode;
	-o-hyphens: $mode;
	hyphens: $mode;
}

//	Placeholder (HTML5 Forms)
@mixin placeholder($color: #999) {
	&::-webkit-input-placeholder { color: $color; opacity: 1; transition: color ease 400ms; }
	&:-moz-placeholder { color: $color; opacity: 1; transition: color ease 400ms; } // Firefox 18-
	&::-moz-placeholder { color: $color; opacity: 1; transition: color ease 400ms; } // Firefox 19+
	&:-ms-input-placeholder { color: $color; opacity: 1; transition: color ease 400ms; }
}

//	Font size (REM support)
@mixin font-size($sizeValue) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}