body {
	color: #000;
	font-size: 14px;
	line-height: 130%;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: border-box;
}

// Heading styles
h1 {

}
h2 {

}
h3 {

}
h4 {

}

// Content styles
p {

}
strong {
    font-weight: bold;
}
em {

}
// etc...
